html, body {
    margin: 0;
    background-color: #2f4f30;
    color: #fff;
}

.titulo {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin: 25px;
}

.row, mt-2 {
    width: 100%;
    margin: 0;
}

.carta {
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
    min-height: 230px;
}